In [1]:
import pandas as pd
import numpy as np
import requests
from tqdm import tqdm
import pymongo
from pymongo import MongoClient

In [2]:
# df = pd.read_csv("seasonality.csv", encoding= 'unicode_escape', index_col = [0])

In [3]:
# df

In [4]:
string = "mongodb://hassan:1234@ac-n2z0fl0-shard-00-00.gwmrp9a.mongodb.net:27017,ac-n2z0fl0-shard-00-01.gwmrp9a.mongodb.net:27017,ac-n2z0fl0-shard-00-02.gwmrp9a.mongodb.net:27017/test?replicaSet=atlas-11gdpx-shard-0&ssl=true&authSource=admin"
client = MongoClient(string)
db = client.popularities
keywords = db.keywords
df = pd.DataFrame(list(db.find()))

TypeError: 'Collection' object is not callable. If you meant to call the 'find' method on a 'Database' object it is failing because no such method exists.

In [13]:
url = 'http://localhost:3000/trends'
date1 = "Feb 1, 2023"
df["Popularity"] = np.nan

In [14]:
df

,Categoric Mapping,Keywords,Popularity
0,Health & Beauty Makeup Makeup Removers,makeup,NaN
1,Kitchen & Dining Serveware Food Warmers,food warmers,NaN
2,Stationery & Craft Art Supplies Modelling & Sc...,stationery,NaN
3,Mother & Baby Baby Gear Walkers,walkers,NaN
4,Toys & Games Sports & Outdoor Play Swimming Po...,toys,NaN
...,...,...,...
630,Sports & Outdoors Water Sports Diving & Snorke...,water sports,NaN
631,Sports & Outdoors Outdoor Recreation Climbing,outdoor,NaN
632,Health & Beauty Bath & Body Sun Care for Body,body care,NaN
633,Groceries Beverages Water,groceries,NaN
634,Stationery & Craft School & Office Equipment B...,stationery,NaN

In [16]:
for j in tqdm(range(len(df))):
    myobj = {'trendfor': df["Keywords"][j]}
    obj = requests.post(url, json=myobj)
    obj = obj.json()
    #print(obj) # Add this line to check the contents of the obj dictionary
    for i in range(len(obj.get('trends', {}).get('default', {}).get('timelineData', []))):
        if (obj['trends']['default']['timelineData'][i]['formattedAxisTime'] == date1):
            popularity_1 = obj['trends']['default']['timelineData'][i]['value'][0]
            df.at[j, "Popularity"] = popularity_1

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 635/635 [05:29<00:00,  1.93it/s]

In [17]:
df

,Categoric Mapping,Keywords,Popularity
0,Health & Beauty Makeup Makeup Removers,makeup,33.0
1,Kitchen & Dining Serveware Food Warmers,food warmers,NaN
2,Stationery & Craft Art Supplies Modelling & Sc...,stationery,NaN
3,Mother & Baby Baby Gear Walkers,walkers,NaN
4,Toys & Games Sports & Outdoor Play Swimming Po...,toys,NaN
...,...,...,...
630,Sports & Outdoors Water Sports Diving & Snorke...,water sports,NaN
631,Sports & Outdoors Outdoor Recreation Climbing,outdoor,NaN
632,Health & Beauty Bath & Body Sun Care for Body,body care,NaN
633,Groceries Beverages Water,groceries,NaN
634,Stationery & Craft School & Office Equipment B...,stationery,NaN

In [53]:
df['Popularity'] = df['Popularity'].fillna(0)
df['Date'] = pd.Series(pd.to_datetime('February 2023'), index=df.index)

In [54]:
df

,Categoric Mapping,Keywords,Popularity,Date
0,Health & Beauty Makeup Makeup Removers,makeup,33.0,2023-02-01
1,Kitchen & Dining Serveware Food Warmers,food warmers,0.0,2023-02-01
2,Stationery & Craft Art Supplies Modelling & Sc...,stationery,17.0,2023-02-01
3,Mother & Baby Baby Gear Walkers,walkers,1.0,2023-02-01
4,Toys & Games Sports & Outdoor Play Swimming Po...,toys,31.0,2023-02-01
...,...,...,...,...
630,Sports & Outdoors Water Sports Diving & Snorke...,water sports,0.0,2023-02-01
631,Sports & Outdoors Outdoor Recreation Climbing,outdoor,0.0,2023-02-01
632,Health & Beauty Bath & Body Sun Care for Body,body care,0.0,2023-02-01
633,Groceries Beverages Water,groceries,0.0,2023-02-01
634,Stationery & Craft School & Office Equipment B...,stationery,0.0,2023-02-01

In [33]:
records = df.to_dict('records')

# Insert records into MongoDB collection
collection = db.pop_values
collection.insert_many(records)